.back {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    background-color: skyblue;
    padding: 8px;
    cursor: pointer;
    box-shadow: -2px 2px 2px 2px #ccc;
    transition: all 0.2s;
}
